.container-menu {
  padding: 20px 0 20px 20px;
  display: flex;
  justify-content: flex-end;
}

.minimum-width {
  display: none;
}

.container {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.button-container {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.form-content {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.div-form-field {
  display: flex;
  width: 48%;
}

.card-report {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 20px;
}

table > thead {
  background-color: #ECECEC;
  text-align: left;
}

table > thead > tr > th {
  padding: 10px 5px;
}

table > tbody > tr > td {
  padding: 10px 5px;
  text-align: left;
  border-bottom: solid 1px #333;
}

table > tbody > tr:hover {
  background-color: #999;
}

@media screen and (max-width: 630px) {
  .minimum-width {
    display: block;
  }
  .container {
    display: none;
  }
}
