<div class="minimum-width">
  Tamanho de tela não suportado
</div>
<div class="container">
  <div class="container-menu">
    <button mat-raised-button [routerLink]="['/inspections/list']">Inspections</button>
    <button mat-raised-button [routerLink]="['/reports/list']">Reports</button>
    <button mat-raised-button [routerLink]="['/']">Logout</button>
  </div>
  <mat-card>
    <mat-card-content>
      <div class="button-container">
        <button mat-raised-button color="primary">Novo</button>
      </div>
      <table class="mat-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Broker Code</th>
            <th>Product Code</th>
            <th>Product</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of dataSource">
            <td>{{ i.Id }}</td>
            <td>{{ i.brokerCode }}</td>
            <td>{{ i.productCode }}</td>
            <td>{{ i.productName }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>


